@import 'administrate/library/variables';
@import 'administrate/library/clearfix';

.field-unit--nested-has-many {
  .nested-fields {
    @include administrate-clearfix;
    margin-bottom: $base-spacing;
    padding: $base-spacing;
    background: #f3f3f3;
  }

  .remove_fields, .add_fields {
    float: right;
  }
}
